# Database Connection
DATABASE_URL=

# Gemini API Key (Accessible in Settings > Secrets)
GEMINI_API_KEY=

# Authentication Settings
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256

# Google Single Sign-On
GOOGLE_CLIENT_ID=
